@font-face {
    font-family: 'iran_Regular';
    src: url(./fonts/IRANSansXFaNum-Regular.ttf) format('truetype');
}
*{
    font-family: iran_Regular;
}
.fs-7{
    font-size: 13px;
}
.fs-8{
    font-size: 11px;
}

a{
    cursor: pointer;
    text-decoration: none;
}
ul{
    list-style: none;
}
.hr_line{
    height: 1.5rem;
    width: 1px;
}
.btn-outline-light{
    color: #242424 !important;
    border: none !important;
}
.container_main{
    width: 95% !important;
    margin: auto;
}
.loader{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 4px solid #ccc;
    border-bottom: 4px solid #eee;
    animation: loader 1s linear infinite;
}
@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.input_checkbox_filter input[type="checkbox"]{
    width: 40px;
    height: 20px;
    background-color: #c6c6c6;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 20px;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .input_checkbox_filter input:checked[type="checkbox"]{
  background-color: #03a9f4;
  }
  
.input_checkbox_filter input[type="checkbox"]:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  background-color: #fff;
}
  
.input_checkbox_filter input:checked[type="checkbox"]:before{
  left: 20px;
}  

.bg_pattern{
    background-image: url(./img/Untitled_copy.svg),url(./img/about_divar_imac_desktop_screen.445f442a.png);
    background-repeat: no-repeat;
    height: 360px;  
}
.map_divar{
    height: 250px;
}
textarea{
    resize: none;
}
textarea:focus{
    box-shadow: none !important;
}
input:focus{
    box-shadow: none !important;
}

#menu_items a:hover{
    color: rgb(197, 8, 8) !important;
}